<ff-frame #frame class="content">
    <h1>{{title()}}</h1>
    @if(hasDisaster()) {
        <div ffTranslate="game.field.disasterActive"></div>
    }
    <div class="button-list">
        @if(canPutDisaster()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="putDisaster()" class="button popup delay-1" ffTranslate="game.field.putDisaster"></button>
        }
        @if(canRemoveDisaster()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="removeDisaster()" class="button popup delay-1" ffTranslate="game.field.removeDisaster"></button>
        }
        <button type="button" [ffFrameButton]="frame" (after-click)="cancel()" class="button popup delay-2" ffTranslate="menu.cancel"></button>
    </div>
</ff-frame>