@import '../../../style/animation.scss';

:host {
    @include fadein(1200ms);
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

canvas {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}