<ff-frame #frame class="content">
    <h1 ffTranslate="game.building"></h1>
    <div class="grid-2">
        @if(canBuy()) {
            <div ffTranslate="game.building.buy"></div>
            <div class="number"><ff-animated-number [value]="buyCosts()" [money]="true"></ff-animated-number></div>
        }
        @if(canUpgrade()) {
            <div ffTranslate="game.building.upgrade"></div>
            <div class="number"><ff-animated-number [value]="buyCosts()" [money]="true"></ff-animated-number></div>
        }
        @if(canSell()) {
            <div ffTranslate="game.building.sell"></div>
            <div class="number"><ff-animated-number [value]="sellCosts()" [money]="true"></ff-animated-number></div>
        }
        @if(canUpgrade() || canBuy() || canPut()) {
            <div ffTranslate="game.building.turnoverBonus"></div>
            <div class="number"><ff-animated-number [value]="turnover()" [money]="true" [digits]="1"></ff-animated-number></div>
        }
    </div>
    <div class="button-list">
        @if(canPut()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="buy()" class="button popup delay-1" ffTranslate="game.building.put"></button>
        }
        @if(canBuy()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="buy()" class="button popup delay-1" ffTranslate="game.building.buy"></button>
        }
        @if(canUpgrade()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="buy()" class="button popup delay-1" ffTranslate="game.building.upgrade"></button>
        }
        @if(canSell()) {
            <button type="button" [ffFrameButton]="frame" (after-click)="sell()" class="button popup delay-2" ffTranslate="game.building.sell"></button>
        }
        <button type="button" [ffFrameButton]="frame" (after-click)="cancel()" class="button popup delay-3" ffTranslate="menu.cancel"></button>
    </div>
</ff-frame>