<div class="content">
    <div class="columns-section center-y stretch">
        <h1 ffTranslate="game.sales"></h1>
        <label><img src="images/users_3.png" class="icon">&nbsp;{{customers()}}</label>
    </div>
    <div class="grid-3">
        @for(p of products; track p.type) {
            <label>{{available()[p.type]}}&nbsp;&times;</label>
            <label>{{p.price | money}}</label>
            <button type="button" (click)="sell(p.type)" [disabled]="!canSell()[p.type]" class="button stretch large">
                @for(s of p.soils; track s) {
                    <img [src]="s" class="icon">
                }
            </button>
        }
    </div>
</div>