$animation-duration-short: 150ms;
$animation-duration-flip: 150ms;

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes flipin {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes flipout {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

@keyframes popdown {
    from {
        opacity: 1;
        transform: translateY(0%) scale(1, 1);
    }

    to {
        opacity: 0;
        transform: translateY(50%) scale(0, 0);
    }
}

@keyframes popup {
    from {
        opacity: 0;
        transform:  translateY(50%) scale(0, 0);
    }

    50% {
        transform: translateY(0%) scale(1.4, 1.2);
    }

    75% {
        transform:  translateY(0%) scale(0.95, 0.85);
    }

    to {
        opacity: 1;
        transform: translateY(0%) scale(1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@mixin fadein($duration) {
    animation-name: fadein;
    animation-direction: normal;
    animation-duration: $duration;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@mixin fadeout($duration) {
    animation-name: fadeout;
    animation-direction: normal;
    animation-duration: $duration;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

@mixin flipin {
    animation-name: flipin;
    animation-direction: normal;
    animation-duration: $animation-duration-flip;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    &.delay-1 {
        animation-delay: $animation-duration-flip;
    }

    &.delay-2 {
        animation-delay: $animation-duration-flip * 1.5;
    }

    &.delay-3 {
        animation-delay: $animation-duration-flip * 2;
    }

    &.delay-4 {
        animation-delay: $animation-duration-flip * 2.5;
    }

    &.delay-5 {
        animation-delay: $animation-duration-flip * 3;
    }
}

@mixin flipout {
    animation-name: flipout;
    animation-direction: normal;
    animation-duration: $animation-duration-flip;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@mixin popdown {
    animation-name: popdown;
    animation-direction: normal;
    animation-duration: $animation-duration-short;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@mixin popup {
    animation-name: popup;
    animation-direction: normal;
    animation-duration: $animation-duration-short;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-out;

    &.delay-1 {
        animation-delay: $animation-duration-short;
    }

    &.delay-2 {
        animation-delay: $animation-duration-short * 1.5;
    }

    &.delay-3 {
        animation-delay: $animation-duration-short * 2;
    }

    &.delay-4 {
        animation-delay: $animation-duration-short * 2.5;
    }

    &.delay-5 {
        animation-delay: $animation-duration-short * 3;
    }
}

@mixin pulse {
    animation-name: pulse;
    animation-direction: normal;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
}

.flipin {
    @include flipin();
}

.flipout {
    @include flipout();
}

.popup {
    @include popup;
}

.pulse {
    @include pulse;
}
