$background-color: #704030;

$border-color-button: black;
$border-color-input: #008000;
$border-color-button-focus: #00c000;
$border-color-input-focus: #00c000;
$border-color-frame: black;
$border-color-label-frame: black;

$shadow-color-img: black;

$color: #000000;
$color-player-blue: #0080ff;
$color-player-green: #00c080;
$color-player-red: #ff0000;
$color-player-yellow: #ffd000;
$color-button: black;
$color-input: #008000;
$color-info: #00c000;
$color-error: #e00000;

$background-color-button: #ffe080;
$background-color-input: #ffffff;
$background-color-frame: #ff8080;
$background-color-label-frame: rgba(#ffffff, 0.75);
