@import './border.scss';
@import './color.scss';
@import './font.scss';
@import './opacity.scss';

@mixin text-input {
    @include font(1);
	@include border-input;
	padding: $spacing-input;
	align-self: stretch;
	color: $color-input;
	background-color: $background-color-input;

    &::placeholder {
        color: $color-input;
        font-style: italic;
        opacity: 0.5;
    }

    &[type=number] {
        text-align: end;
    }
}

@mixin select {
    @include font(1);
	@include border-input;
    cursor: pointer;
	padding: $spacing-input;
	align-self: stretch;
	color: $color-input;
	background-color: $background-color-input;

    &.number {
        text-align: right;
    }
}

input.form-control, input.form-control {

    &[type=text], &[type=number] {
        @include text-input;
    }
}

select.form-control {
    @include select;
}

.input-group {
    @include box-shadow-input($border-color-input);
    border: 1px solid $border-color-input;
	border-radius: $spacing-input * 0.5;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    button, input {
        box-shadow: none;
        border: none;
        border-left: 1px solid $border-color-input;
        border-radius: 0;
        flex-shrink: 1;
        flex-grow: 1;
        
        &:first-child {
            border-left: none;
            border-top-left-radius: $spacing-input * 0.5;
            border-bottom-left-radius: $spacing-input * 0.5;
        }

        &:last-child {
            border-top-right-radius: $spacing-input * 0.5;
            border-bottom-right-radius: $spacing-input * 0.5;
        }
    }
}