@import './font.scss';
@import './spacing.scss';

table {
    border-collapse: separate;
    border-spacing: $spacing-table;

    tr {
        td {
            font-weight: normal;
            text-align: start;
        }

        th {
            @include text-with-shadow;
            font-weight: bold;
            text-align: start;
        }
    }
}
