<ff-frame #frame class="frame">
    <h1 ffTranslate="menu.settings"></h1>
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label for="menu.settings.username" ffTranslate="menu.settings.username"></label>
            <input #input type="text" formControlName="username" id="menu.settings.username" required="required" class="form-control" placeholder="{{'menu.settings.username.placeholder' | translate}}" autocomplete="given-name">
        </div>
        <div class="form-group">
            <label for="menu.settings.animationSpeed" ffTranslate="menu.settings.animationSpeed"></label>
            <select formControlName="animationSpeed" id="menu.settings.animationSpeed" class="form-control">
                <option value="slow" ffTranslate="menu.settings.animationSpeed.slow"></option>
                <option value="fast" ffTranslate="menu.settings.animationSpeed.fast"></option>
            </select>
        </div>
    </form>
    <div class="button-list">
        <button type="button" [disabled]="!canSave" [ffFrameButton]="frame" (after-click)="save()" ffTranslate="menu.save" class="button popup delay-1"></button>
        <button type="button" [ffFrameButton]="frame" (after-click)="cancel()" ffTranslate="menu.cancel" class="button popup delay-2"></button>
    </div>
</ff-frame>